body {
   margin: 0;
}
h1 {
   color: #e66465;
   text-align: center;
   font-size: 50px;
}

.add-form {
   padding: 30px 0;
   background: linear-gradient(#e66465, #fc6cb4);
   display: flex;
   flex-direction: column;
}

.add-form p {
   text-align: center;
   margin: 0;
}
.add-form form {
   width: 50%;
   display: block;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
.add-form input {
   box-sizing: border-box;
   padding: 0 30px;
   height: 50px;
   font-size: 22px;
   width: 82%;
   background-color: rgba(255, 255, 255, 0.575);
   border: 0;
   border-radius: 7px;
}
.add-btn {
   padding: 0;
   border: 0;
   width: 50px;
   height: 50px;
   background-color: rgba(0, 119, 255, 0.733);
   color: #fff;
   font-size: 40px;
   line-height: 50px;
   border-radius: 5px;
}
.add-btn:hover {
   cursor: pointer;
   background-color: rgba(0, 204, 255, 0.733);
}

.todos-list {
   list-style: none;
   padding: 0;
   width: 60%;
   margin: 0 auto;
}



.each-todo {
   margin-top: 30px;
   width: 100%;
   box-shadow: 1px 1px 10px rgb(182, 182, 182);
   border-radius: 8px;
   display: flex;
   padding: 5px 20px;
   justify-content: space-evenly;
}

.todo-text {
   font-size: 18px;
   width: 60%;
}

.list-btns {
   display: flex;
   /* flex-direction: column; */
   justify-content: center;
   width: 30%;
}

.remove-btn, .complete-btn {
   font-size: 20px;
   font-weight: bold;
   color: rgb(189, 189, 189);
   background-color: #fff;
   border: 0;
   padding: 0;
}

.remove-btn, .complete-btn:hover {
   cursor: pointer;
}

.complete-btn:hover {
   color: rgb(0, 119, 255);
}

.remove-btn {
   margin-left: 10px;
}
.remove-btn:hover {
   color: red;
}